#works {
  margin: 0 auto;
  min-height: calc(100vh-4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}
.workstitle {
  margin: 1rem 0;
  font-size: 3rem;
}
.worksDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
  margin-bottom: 1rem;
}

.worksImgs {
  width: 100vw;
  max-width: 65rem;
}
.worksImg {
  object-fit: cover;
  height: 20rem;
  margin: 0.5rem;
  width: 20rem;
  cursor: pointer;

  border-radius: 1rem;
}

.worksImg:hover {
  scale: 1.1;
  opacity: 1;
}

.worksImg:hover::after {
  content: "hallo";
}

.worksImgContainer {
  position: relative;
  display: inline-block;

  border-radius: 1rem;
  margin: 1rem;
  width: 20rem;
  height: 20rem;
}

/* Stile für den Text, der standardmäßig ausgeblendet ist */
.worksImgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: #e952af;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  width: 15rem;
}

/* Stile für das Bild beim Hovern */
.worksImgContainer:hover .worksImgText {
  opacity: 1;
}

.worksImgContainer:hover .worksImg {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
  opacity: 0.2;
  cursor: pointer;
}

.worksBtn {
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  border: none;
  background: white;
  border-radius: 2rem;
  font-size: 1rem;
}

@media screen and (max-width: 585px) {
  .worksImg {
    height: 48vw;
  }
}
